@import '../../App.scss';

.info {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    color: rgb(242, 79, 19);
    font-size: 40px;
}
.navigate {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(242, 79, 19);
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}
